//general
$white: rgb(255, 255, 255);

//dark theme
// original // $light-pink: rgb(255, 209, 209);

$light-pink: hsl(341, 86%, 85%);
// $light-pink: hsl(318, 94%, 81%);

//gradient matter
$dark-green-1: rgb(28, 59, 48);
$dark-green-2: rgb(24, 48, 43);
$dark-green-2-op: rgb(24, 48, 43, 0.15);
$dark-green-3: rgb(25, 38, 37);

// 0%
// 23%
// 53%
// 100%

//light theme
$light-green: rgb(229, 248, 225);
$green: rgb(67, 187, 112);

$dark-green-5: rgb(17, 85, 61);

//gradient matter
$light-orange-1: rgb(255, 234, 209);
$light-orange-2: rgb(250, 223, 204);
