@use "./theme.scss" as *;

:root {
    --transition: 0.3s;
    --outer-wdg-radius: 1.4rem;
    --inner-wdg-radius: 1.1rem;

    --account-center-position-top: 10%;
    --account-center-z-index: auto;

    .light {
        @include spread-map($light-map);
    }

    .dark {
        @include spread-map($dark-map);
    }
}
