@use "./theme.scss" as *;

:root {
    --transition: 0.3s;
    --outer-wdg-radius: 1.4rem;
    --inner-wdg-radius: 1.1rem;

    // --onboard-font-size-1: calc(3rem * 1.6);
    // --onboard-font-size-2: calc(2.25rem * 1.6);
    // --onboard-font-size-3: calc(1.5rem * 1.6);
    // --onboard-font-size-4: calc(1.25rem * 1.6);
    // --onboard-font-size-5: calc(1rem * 1.6);
    // --onboard-font-size-6: calc(0.875rem * 1.6);
    // --onboard-font-size-7: calc(0.75rem * 1.6);

    // --onboard-spacing-1: calc(3rem * 1.6);
    // --onboard-spacing-2: calc(2rem * 1.6);
    // --onboard-spacing-3: calc(1.5rem * 1.6);
    // --onboard-spacing-4: calc(1rem * 1.6);
    // --onboard-spacing-5: calc(0.5rem * 1.6);

    --account-center-position-top: 70%;
    --account-center-z-index: auto;

    .light {
        @include spread-map($light-map);
    }

    .dark {
        @include spread-map($dark-map);
    }
}
